{% extends "blog/base.html"%}
{# iterates through each item in posts data, creates html code to display#}
{# creating "content" block to be injected into base.html to display unique home page content #}
{% load static %}

{% block content %}
    {% for post in posts %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
    <canvas id="canvas"></canvas>
    <script src="{% static 'blog/canvas.js' %}"></script>

{% endblock content %}
